.home {
	display: flex;
	/* fade in */
	animation: fadeInAnimation ease-in 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 768px) {
	.home {
		flex-direction: column;
		margin-top: 50px;
	}
}

@media only screen and (max-width: 600px) {
}
