.header {
	position: relative;
	/* fade in */
	animation: fadeInAnimation ease-in 0.2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.headerImg {
	width: 100%;
	height: calc(100vh - 50px);
	object-fit: cover;
	min-height: 450px;
}

.headerTitles {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "PT Serif", serif;
	color: white;
	text-transform: uppercase;
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: auto;
}

.headerTitleSm {
	font-size: 40px;
	margin-bottom: 10px;
}

.headerTitleLg {
	font-size: 100px;
	letter-spacing: 0.05em;
}

@media only screen and (max-width: 600px) {
	.headerTitleSm {
		font-size: 30px;
	}

	.headerTitleLg {
		font-size: 60px;
	}
}
